@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.waves {
  width: 120%;
  background-image: url("../images/waves-graphic-bottom.svg");
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  top: -5em;
  background-position: center 10em;

  background-size:210%;
  -webkit-animation: waves 10s linear infinite alternate;
  animation: waves 10s linear infinite alternate; 
}

.waves:hover {
  background-position: center -.5em;
  -webkit-transition: all 3000ms linear;
  transition: all 3000ms linear;
}

.banner {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -.5em;
  overflow: hidden;
}

.logo {
  width: 20%;
  position: relative;
}

.title {
  margin: 0;
  position: relative;
}

.subheader {
  padding-bottom: .5em;
  position: relative;
  margin-bottom: .5em; 
}

.anchor-arrow {
  text-align: center;
  position: relative;
  width: 10%;
  padding-bottom: 1.5em;
}

.nav-button {
  position: absolute;
  top:  1em;
  left: 5%;
  height: 3em;
  width: 3em;
  background: url("../images/toggle-graphic.svg") no-repeat;
}

.nav-button:hover {
  background-color: #0099CC;
  transition: all 1000ms linear;
}

.boat {
  position: absolute;
  top: 6em;
  right: 3em;
  width: 20%;
  -webkit-animation: boat-move 3s infinite ease-in alternate;
  animation: boat-move 3s infinite ease-in alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translateX(0px) 
  }
  10%{
    -webkit-transform: translateX(-40px) 
  }
  20%{
    -webkit-transform: translateX(0px) 
  }
  30% {
    -webkit-transform: translateX(-40px)
  }
  40% {
    -webkit-transform: translateX(0px)
  }
  50% {
    -webkit-transform: translateX(-40px) 
  }
  60% {
    -webkit-transform: translateX(0px) 
  }
  70% {
    -webkit-transform: translateX(-40px) 
  }
  80% {
    -webkit-transform: translateX(0px) 
  }
  90% {
    -webkit-transform: translateX(-40px) 
  }
  100% {
    -webkit-transform: translateX(0px)
  }
}

@keyframes waves {
  0% {
    transform: translateX(0px) 
  }
  
  10%{
    transform: translateX(-40px) 
  }
  
  20%{
    transform: translateX(0px) 
  }
  
  30% {
    transform: translateX(-40px)
  }
  
  40% {
    transform: translateX(0px)
  }
  
  50% {
    transform: translateX(-40px) 
  }
  
  60% {
    transform: translateX(0px) 
  }
  
  70% {
    transform: translateX(-40px) 
  }
  
  80% {
    transform: translateX(0px) 
  }
  
  90% {
    transform: translateX(-40px) 
  }
  
  100% {
    transform: translateX(0px)
  }
}

@-webkit-keyframes sink {
  0% {
    -webkit-transform: translateY(0px);
  }
  
  100% {
    -webkit-transform: translateY(-200px);
  }
}

@keyframes sink {
  0% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(-200px);
  }
}

@-webkit-keyframes boat-move {
  0% {
    -webkit-transform: rotate(0deg);
  }

  33% {
    -webkit-transform: rotate(10deg);
  }
  
  66% {
    -webkit-transform: rotate(-10deg);
  }
  
  100% {
    -webkit-tranform: rotate(0deg);
  }
}

@keyframes boat-move {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    tranform: rotate(0deg);
  }
}

@media only screen and (min-width: 25em) {
  .boat {
    top: 7em;
  }

  .waves:hover {
    background-position: center -10em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
}
}

@media only screen and (min-width: 38em) {
  .boat {
    top: 7.5em;
  }

  .waves:hover {
    background-position: center -20em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
}
}

@media only screen and (min-width: 60em) {
  .boat {
    top: 9em;
  }

  .waves {
    height: 110vh;
  }

  .waves:hover {
    background-position: center -34em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
}

  .anchor-arrow {
    width: 8%;
}
}

@media only screen and (min-width: 80em) {

  .boat {
    top: 10em;
  }

  .waves:hover {
    background-position: center -43em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
}
}

@media only screen and (min-width: 90em) {

      .boat {
    top: 10em;
  }

      .waves:hover {
  background-position: center -50em;
  -webkit-transition: all 3000ms linear;
  transition: all 3000ms linear;
}
}
