@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.waves {
  width: 120%;
  background-image: url("../images/waves-graphic-bottom.svg");
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  top: -5em;
  background-position: center 10em;

  background-size:210%;
  animation: waves 10s linear infinite alternate; 
}

.waves:hover {
  background-position: center -40em;
  transition: all 3000ms linear;
}

.banner {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -.5em;
  overflow: hidden;
}

.logo {
  width: 20%;
  position: relative;
}

.title {
  margin: 0;
  position: relative;
}
.subheader {
  padding-bottom: 2em;
  position: relative;
}
.boat {
  position: absolute;
  top: 4.3em;
  right: 3em;
  width: 20%;
  animation: boat-move 3s infinite ease-in alternate;
  transform-origin: center;



}

@keyframes waves {
  0% {
    transform: translateX(0px) 
  }
  10%{
    transform: translateX(-40px) 
  }
  20%{
    transform: translateX(0px) 
  }
  30% {
    transform: translateX(-40px)
  }
  40% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(-40px) 
  }
  60% {
    transform: translateX(0px) 
  }
  70% {
    transform: translateX(-40px) 
  }
  80% {
    transform: translateX(0px) 
  }
  90% {
    transform: translateX(-40px) 
  }
  100% {
    transform: translateX(0px)
  }
}

@keyframes sink {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
}


@keyframes boat-move {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    tranform: rotate(0deg);
  }
}

@media only screen and (min-width: 25em) {
  .boat {
    top: 4em;
  }
}

@media only screen and (min-width: 38em) {
  .boat {
    top: 3em;
  }
}