@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.waves:hover {
  background-position: center -.5em;
  -webkit-transition: all 3000ms alternate;
  transition: all 3000ms alternate;
}

.banner {
  width: 100%;
  text-align: center;
  position: relative;
  top: -.5em;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 20%;
  position: relative;
  margin-top: .5em;
}

.title {
  margin: 0;
  position: relative;
}

.subheader {
  padding-bottom: .5em;
  position: relative;
  margin-bottom: .5em; 
}

.anchor-arrow {
  text-align: center;
  position: relative;
  width: 10%;
  padding: .75em 0;
}

.anchor-arrow:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.center-button {
 text-align: center;
 overflow: hidden;
 position: relative;
 z-index: 1;
}

.anchor-prop {
  width: 50%;
  position: relative;
  bottom: 920px;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
}

.anchor-drop {
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
}

.nav-button {
  z-index: 1;
  position: absolute;
  top:  1em;
  left: 5%;
  height: 3em;
  width: 3em;
  background: url("../images/toggle-graphic.svg") no-repeat;
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear;
 }

 .toggleshow{
  display: block;
 } 

.nav-button:hover {
  background-color: #0099CC;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.nav-button:active {
  border: solid;
  border-color: black;
  border-width: 3px;
}

.x-button {
  height: 8em;
  width: 5em;
  position: absolute;
  right: 82%;
  top: 10%;
  background-image: url("../images/ximage.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: center;
  z-index: 1;
}

.navigation {
  position: relative;  
  z-index: 1;
  opacity:0;
  height: 0;
  background-color: #3399CC;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.navigation-open {
  opacity:1;
  height: 8em;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.nav-none {
  display:none;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.list-item {
  list-style-type: none;
  font-size: 100%;
  text-decoration: none;
  border: solid white 1px;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom:1em;
}

.container {
  position: relative;
  top: 60px;
  padding-bottom: 5em;
}

.sub-container {
  position: relative; 
  z-index: 1;
  left:95%;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.button-design {
  border: 10px solid;
  padding:1em;
  background-color: white;
  cursor: pointer;
  margin-top: 1.5em;
  border-color: #3399CC;
  color: #3399CC;
}

.button-design-para {
  border: 5px solid;
  padding:.3em;
  background-color: white;
  cursor: pointer;
  margin-top: 1.5em;
  border-color: #3399CC;
  color: #3399CC;
}

.sub-container-enter {
  left: -15px;
}

.scope {
  width:20%;
  position: absolute;
  right: 50%;
  top: 35px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.footer {
  background-color: #003366;
  overflow: hidden;
}
.footer-logo {
  width: 10%;
  float: right;
  padding: 2%
}

.sub {
  position: relative;
  z-index: 2;
}

footer a,
footer a:visited {
  color: #0099CC;
  text-decoration: none;
  float: left;
  padding: 3%;
  border: solid white;
}

.scope-up {
  -webkit-transform: translateY(-70px);
  transform: translateY(-70px);
}

.explore-button {
  margin-bottom: 2em;
}

.wheel-graphic {
  -webkit-transform: scale(0,0) rotate(0deg);
  transform: scale(0,0) rotate(0deg);
  -webkit-transition: all 600ms linear;
  transition: all 600ms linear;
}

.wheel-graphic-animate {
  -webkit-transform: scale(1,1) rotate(360deg);
  transform: scale(1,1) rotate(360deg);
  padding: 0;
  margin: 0;
}

.wheel-graphic-animate img {
  -webkit-animation: wheelgrow 6s linear;
  animation: wheelgrow 6s linear;
}

@-webkit-keyframes wheelgrow {
  0% {
    -webkit-transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(90deg);
  }
  66% {
    -webkit-transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
  }
}

@keyframes wheelgrow {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(90deg);
  }
  66% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.navigation a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.boat {
  position: absolute;
  top: 6em;
  right: 3em;
  width: 20%;
  -webkit-animation: boat-move 3s infinite ease-in alternate;
  animation: boat-move 3s infinite ease-in alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.waves {

  width: 120%;
  background-image: url("../images/waves-graphic-bottom.svg");
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  top: -5em;
  background-position: center 10em;
  background-size: 210%;
  -webkit-animation: waves 10s linear infinite alternate;
  animation: waves 10s linear infinite alternate; 
}


@-webkit-keyframes waves {
  0% {
    -webkit-transform: translateX(0px) 
  }
  10%{
    -webkit-transform: translateX(-40px) 
  }
  20%{
    -webkit-transform: translateX(0px) 
  }
  30% {
    -webkit-transform: translateX(-40px)
  }
  40% {
    -webkit-transform: translateX(0px)
  }
  50% {
    -webkit-transform: translateX(-40px) 
  }
  60% {
    -webkit-transform: translateX(0px) 
  }
  70% {
    -webkit-transform: translateX(-40px) 
  }
  80% {
    -webkit-transform: translateX(0px) 
  }
  90% {
    -webkit-transform: translateX(-40px) 
  }
  100% {
    -webkit-transform: translateX(0px)
  }
}

@keyframes waves {
  0% {
    transform: translateX(0px) 
  }
  
  10%{
    transform: translateX(-40px) 
  }
  
  20%{
    transform: translateX(0px) 
  }
  
  30% {
    transform: translateX(-40px)
  }
  
  40% {
    transform: translateX(0px)
  }
  
  50% {
    transform: translateX(-40px) 
  }
  
  60% {
    transform: translateX(0px) 
  }
  
  70% {
    transform: translateX(-40px) 
  }
  
  80% {
    transform: translateX(0px) 
  }
  
  90% {
    transform: translateX(-40px) 
  }
  
  100% {
    transform: translateX(0px)
  }
}

@-webkit-keyframes sink {
  0% {
    -webkit-transform: translateY(0px);
  }
  
  100% {
    -webkit-transform: translateY(-200px);
  }
}

@keyframes sink {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}

@-webkit-keyframes boat-move {
  0% {
    -webkit-transform: rotate(0deg);
  }

  33% {
    -webkit-transform: rotate(10deg);
  }
  
  66% {
    -webkit-transform: rotate(-10deg);
  }
  
  100% {
    -webkit-tranform: rotate(0deg);
  }
}

@keyframes boat-move {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    tranform: rotate(0deg);
  }
}

@media only screen and (min-width: 25em) {
  .boat {
    top: 7em;
  }

  .waves:hover {
    background-position: center -10em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
}
  .anchor-prop {
    bottom: 1400px;
    width: 50%;
  }
  .anchor-drop {
    -webkit-transform: translateY(800px);
    transform: translateY(800px);
}
}

@media only screen and (min-width: 38em) {
  .boat {
    top: 7.5em;
  }

  .waves:hover {
    background-position: center -20em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
  }

  .anchor-prop {
    bottom: 1100px;
    width: 60%;
  }

  .anchor-drop {
  -webkit-transform: translateY(850px);
  transform: translateY(850px);
  }

  .list-item {
  font-size: 110%;
  }

  .x-button {
    right: 90%
  }

  .scope {
    top:60px;
  }
  .scope-up {
    -webkit-transform: translateY(-85px);
    transform: translateY(-85px);
  }
}

@media only screen and (min-width: 60em) {
  .boat {
    top: 9em;
  }

  .waves {
    height: 110vh;
  }

  .waves:hover {
    background-position: center -34em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
  }

  .anchor-arrow {
    width: 8%;
  }

  .anchor-drop {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }

  .anchor-prop {
    bottom: 1400px;
    width: 70%;
  }

  .list-item {
  font-size: 120%;
  }

  .scope-up {
    -webkit-transform: translateY(-95px);
    transform: translateY(-95px);
  }
}

@media only screen and (min-width: 80em) {

  .boat {
    top: 10em;
  }

  .waves:hover {
    background-position: center -43em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
  }

  .anchor-drop {
    transform: translateY(600px);
  }

  .anchor-prop {
    bottom: 1200px;
    width: 50%;
  }

  .list-item {
    font-size: 130%;
  }

  .scope-up {
    -webkit-transform: translateY(-105px);
    transform: translateY(-105px);
  }
}

@media only screen and (min-width: 90em) {

  .boat {
    top: 11em;
  }

  .waves:hover {
    background-position: center -50em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
  }

  .anchor-prop {
    bottom: 1800px;
    width: 60%;
  }

  .anchor-drop {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
  }

  .list-item {
    font-size: 140%;
  }
}

@media only screen and (min-width: 130em) {

  .boat {
    top: 12em;
  }

  .waves:hover {
    background-position: center -60em;
    -webkit-transition: all 3000ms linear;
    transition: all 3000ms linear;
  }
  .anchor-prop {
    bottom: 2200px;
  }
}
